<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive" src="images/mustache.png" alt="">
                <div class="intro-text">
                    <span class="name">Bourgie</span>
                    <hr class="star-light">
                    <span class="skills">Time is money. Save both.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>Welcome to Bourgie - a modern web application that makes it easy to
                   keep track of your budget: specify your recurring income and
                   payments, then allocate and monitor your spending within the categories that are
                   important to you. Let Bourgie help you stay on top of your budget.</p>
            </div>
            <div class="col-lg-4">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut a sollicitudin augue. Nulla facilisi. Sed lacinia hendrerit placerat. In sit amet neque nec lacus posuere elementum quis a orci. Praesent imperdiet tincidunt justo. Nam non auctor diam, sit amet feugiat augue.</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="#/login" class="btn btn-lg btn-outline landing-button">
                    Sign in | Sign up
                </a>
            </div>
        </div>
    </div>
</section>
