<div class="container partial" ng-init="init()">

  <div class="col-lg-8 col-lg-offset-2 text-center">
      <a ng-click="open(0)" class="btn btn-lg btn-outline landing-button">
          Schedule Event
      </a>
  </div>
  <!-- MODAL INSTANCE -->
  <div>
    <script type="text/ng-template" id="scheduleModal.html">
        <div class="modal-header">
            <h3 class="modal-title">{{title}}</h3>
        </div>
        <div class="modal-body">
            <form class="form-horizontal">
              <div class="form-group">
                <label class="col-sm-2 control-label">Title</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" ng-model="event.name" placeholder="My Event"></input>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Amount</label>
                <div class="col-sm-10">
                   <input type="number" class="form-control" ng-model="event.amount" placeholder="$$$"></input>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Start</label>
                <div class="col-sm-10">
                  <input type="date" class="form-control" ng-model="event.date"></input>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Interval</label>
                <div class="col-sm-10">
                    <select class="form-control" ng-model="event.interval">
                      <option ng-repeat="interval in intervals">{{interval}}</option>
                    </select>
                </div>
              </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-if="!event.id" ng-click="ok('create')">Submit</button>
            <button class="btn btn-primary" type="button" ng-if="event.id" ng-click="ok('update')">Update</button>
            <button class="btn btn-warning" type="button" ng-if="event.id" ng-click="ok('delete')">Delete</button>
            <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
</div>
</br>
  <div class="schedule-calendar" ui-calendar="uiConfig.calendar" class="span8 calendar" ng-model="eventSources"></div>

</div>
